@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Comfortaa', cursive;
    background-color: black;
    color: white;
    overflow-x: hidden;
}

.container {
    width: 1600px;
    margin: auto;
}

header {
    border-bottom: 5px solid orange;
}

#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    min-height: 70px;
    padding: 0 20px;

}

#header h2 {
    font-size: 2rem;
}

#search_box {
    position: relative;
    width: 350px;
}

#search_box input {
    box-sizing: border-box;
    width: 100%;
    font-size: 1rem;
    padding: 8px;
    border-radius: 25px;
    outline: none;

    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    transition: all 0.30s ease-in-out;
    border: 1px solid #DDDDDD;
}

input:focus {
    box-shadow: 0 0 5px orange;
    border: 1px solid orange;
}

#search_box i:hover {
    color: orange;
}

#grid {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
    padding-bottom: 45px;
}

.gridWrapper{
    position: relative;
}

.img {
    width: 214px;
    height: 214px;
    margin-top: 15px;
    background-position: center;
    background-size: cover;
    border-radius: 5px;
    background-size: contain;
    background-repeat: no-repeat;
    transition: .5s ease;
    backface-visibility: hidden;
    opacity: 1;
    position: absolute;
    cursor: pointer;
}

@media(max-width:1280px) {
    .container {
        width: 100%;
    }
}

@media(max-width:768px) {
    #main {
        width: 95%;
    }

    .img {
        width: 100%;
    }

    #header {
        margin: 10px 0;
        padding: 20px;
        gap: 10px;
        justify-content: center;
    }

    #header h2 {
        padding: 5px 0;
    }
}

@media(max-width:480px) {
    #header h2 {
        text-align: center;
        font-size: 1.5rem;
    }

    #search_box {
        width: 80%;
        margin: auto;
    }

    #search_box input {
        font-size: .7rem;
    }
}

.centerText {
    text-align: center;
    color: bisque;
}

.title {
    width: 214px;
    position: absolute;
    text-align: center;
    padding-top: 234px;
}

.location {
    width: 214px;
    position: absolute;
    text-align: right;
    padding-top: 259px;
    font-size: 12px;
}

.date {
    width: 214px;
    position: absolute;
    text-align: right;
    padding-top: 279px;
    font-size: 12px;
}

.price {
    width: 214px;
    position: absolute;
    text-align: right;
    padding-top: 299px;
    font-size: 12px;
}

.descriptionLocation {
    width: 214px;
    position: absolute;
    text-align: left;
    padding-top: 259px;
    font-size: 12px;
}

.descriptionDate {
    width: 214px;
    position: absolute;
    text-align: left;
    padding-top: 279px;
    font-size: 12px;
}

.descriptionPrice {
    width: 214px;
    position: absolute;
    text-align: left;
    padding-top: 299px;
    font-size: 12px;
}

.imageContainer {
    width: 214px;
    height: 320px;
    background-position: center;
    background-size: cover;
    position: relative;
}

.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.imageContainer:hover .img {
    opacity: 0.3;
}

.imageContainer:hover .button {
    opacity: 1;
}

.popup{
    transition: .5s ease;
    opacity: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}